@model PagedList.IPagedList<comzipato.Models.spt>
@using PagedList.Mvc;
@using comzipato
@{
    ViewBag.Title = "FIND A ZIPATO DEALER";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var locations = "{lat: 105.8194541, lng:21.0227431}";
}
<link href="/Content/creative/css/overview.css" rel="stylesheet">
<style>
    .section {
        position: relative;
    }

    .section-divider.triangle.down {
        bottom: -15px;
    }

    .section-divider.triangle.down {
        bottom: -25px;
    }

    .section-divider.triangle.up, .section-divider.triangle.down {
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .section .section-divider {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        background-color: inherit;
        z-index: 1;
    }

    .section .section-divider {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        background-color: inherit;
        z-index: 1;
    }

    .section_wrapper, .container, .with_aside .content_wrapper {
        max-width: 1180px;
    }

    .row, .clearfix {
        zoom: 1;
    }

    #wpsl-wrap {
        position: relative;
        overflow: hidden;
    }

    #wpsl-wrap, .wpsl-clearfix::after, .wpsl-contact-details {
        clear: both;
    }

    #wpsl-wrap, .wpsl-gmap-canvas {
        margin-bottom: 20px;
        width: 100%;
    }

    .wpsl-search {
        margin-bottom: 12px;
        padding: 12px 12px 0;
        background: #f4f3f3;
    }

    #wpsl-search-wrap {
        float: left;
        width: 100%;
    }

        #wpsl-search-wrap .wpsl-input, #wpsl-search-wrap .wpsl-select-wrap {
            display: table;
        }

        #wpsl-search-btn, #wpsl-search-wrap div {
            margin-right: 10px;
            float: left;
        }

        #wpsl-search-btn, #wpsl-search-wrap #wpsl-radius, #wpsl-search-wrap #wpsl-results, #wpsl-search-wrap .wpsl-input input, #wpsl-search-wrap .wpsl-input label {
            display: table-cell;
        }

        #wpsl-search-btn, #wpsl-search-wrap input {
            border: 1px solid #d2d2d2;
            border-radius: 3px;
        }

    #wpsl-search-input {
        width: 179px;
    }

    #wpsl-search-input {
        width: 179px;
        height: auto;
        padding: 7px 12px;
        font-size: 100%;
        margin: 0;
    }

    #wpsl-search-wrap .wpsl-select-wrap {
        position: relative;
        z-index: 2;
        margin-right: 0;
    }

    #wpsl-search-wrap .wpsl-input, #wpsl-search-wrap .wpsl-select-wrap {
        display: table;
    }

    #wpsl-search-btn, #wpsl-search-wrap div {
        margin-right: 10px;
        float: left;
    }

    #wpsl-category, .wpsl-input, .wpsl-select-wrap {
        position: relative;
        margin-bottom: 10px;
    }

    #wpsl-search-btn, #wpsl-search-wrap #wpsl-radius, #wpsl-search-wrap #wpsl-results, #wpsl-search-wrap .wpsl-input input, #wpsl-search-wrap .wpsl-input label {
        display: table-cell;
    }

    #wpsl-search-btn, #wpsl-search-wrap input {
        border: 1px solid #d2d2d2;
        border-radius: 3px;
    }

    #wpsl-search-input {
        width: 179px;
    }

    #wpsl-search-input {
        width: 179px;
        height: auto;
        padding: 7px 12px;
        font-size: 100%;
        margin: 0;
    }

    input[type="date"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, select:focus, textarea:focus {
        background-color: #F3F4F4;
        border-color: #F3F4F4;
        color: #646464;
    }

    .wpsl-search input:focus {
        background-color: #f5faed !important;
    }

    input[type="date"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, select:focus, textarea:focus {
        background-color: #F5FAED !important;
    }

    input[type="date"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, select:focus, textarea:focus {
        background-color: #E9F5FC !important;
        border-color: #d5e5ee;
        color: #1982C2;
    }

    body, button, span.date_label, .timeline_items li h3 span, input[type="submit"], input[type="reset"], input[type="button"], input[type="text"], input[type="password"], input[type="tel"], input[type="email"], textarea, select, .offer_li .title h3 {
        font-family: "Roboto", Arial, Tahoma, sans-serif;
        font-weight: 400;
    }

    input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea, .woocommerce .quantity input.qty {
        background-color: #fff;
        color: #626262;
        -webkit-box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.02);
        box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.02);
    }

    .idea_box, .ui-tabs, .accordion .question, .accordion .question.active .title, .accordion .question .title::before, .ui-tabs .ui-tabs-nav, .ui-tabs .ui-tabs-nav li, .tabs_vertical.ui-tabs .ui-tabs-panel, table th, table td, .list_item .circle, input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea, .promo_box.has_border::after, dl > dt, dl > dd, .article_box .desc_wrapper p, a.icon_bar, a.content_link, .how_it_works .image, .opening_hours, .opening_hours .opening_hours_wrapper li, .icon_box.has_border::after, .chart_box::before, .pricing-box, .team_list .bq_wrapper, .post-footer .post-links, .format-link .post-title .icon-link, .share_wrapper, .post-header .title_wrapper, .section-post-related .section-related-adjustment, #comments > :first-child, .widget-area, .widget::after, .fixed-nav .desc h6, .portfolio_group.list .portfolio-item, .portfolio_group .portfolio-item .desc .details-wrapper, .Recent_posts ul li .desc h6, .widget_recent_entries ul li a, .woocommerce .widget_best_sellers li, .woocommerce .widget_featured_products li, .woocommerce .widget_recent_reviews li, .woocommerce .widget_recent_products li, .woocommerce .widget_recently_viewed_products li, .woocommerce .widget_random_products li, .woocommerce .widget_top_rated_products li, .woocommerce .widget_onsale li, .woocommerce .widget_layered_nav li, .woocommerce .widget_shopping_cart ul.product_list_widget li, .woocommerce .widget_products li, .woocommerce .product .related.products, .woocommerce .product .upsells.products, .woocommerce .product div.entry-summary h1.product_title::after, .woocommerce .quantity input.qty, .header-stack #Top_bar .logo, .offer_thumb .slider_pagination, .offer_thumb .slider_pagination a, .Latest_news ul li .desc_footer, .Latest_news ul li .photo, .offer_thumb.bottom .slider_pagination a, .style-simple .faq .question, .style-simple #Filters .filters_wrapper ul, #edd_checkout_cart th, #edd_checkout_cart td {
        border-color: rgba(0,0,0,.08);
    }

    input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea {
        padding: 10px;
        outline: none;
        margin: 0;
        width: 230px;
        max-width: 100%;
        display: block;
        margin-bottom: 20px;
        font-size: 13px;
        border-width: 1px;
        border-style: solid;
        border-radius: 0;
        box-sizing: border-box;
        -webkit-appearance: none;
    }

    #wpsl-radius .wpsl-dropdown .wpsl-selected-item, #wpsl-radius .wpsl-dropdown li, #wpsl-results .wpsl-dropdown .wpsl-selected-item, #wpsl-results .wpsl-dropdown li {
        white-space: nowrap;
    }

    #wpsl-wrap .wpsl-selected-item {
        position: static;
        padding-right: 35px !important;
    }

    .wpsl-dropdown .wpsl-selected-item, .wpsl-dropdown li, .wpsl-selected-item {
        list-style: none;
        padding: 9px 12px !important;
        margin: 0 !important;
    }

    .wpsl-dropdown .wpsl-selected-item, .wpsl-dropdown li {
        position: relative;
        display: block;
        line-height: normal;
        color: #000;
        overflow: hidden;
    }

    #wpsl-search-wrap div label {
        float: left;
        margin-right: 10px;
        line-height: 32px;
    }

    #wpsl-search-btn, #wpsl-search-wrap input {
        border: 1px solid #d2d2d2;
        border-radius: 3px;
    }

    #wpsl-search-btn {
        height: 34px !important;
        color: #1d1d1c !important;
    }

    #wpsl-search-btn, #wpsl-search-wrap div {
        margin-right: 10px;
        float: left;
    }

    #wpsl-search-btn {
        padding: 7px 10px;
        line-height: 1.428571429;
        font-weight: 400;
        color: #7c7c7c;
        background-color: #e6e6e6;
        background-repeat: repeat-x;
        background-image: -moz-linear-gradient(top,#f4f4f4,#e6e6e6);
        background-image: -ms-linear-gradient(top,#f4f4f4,#e6e6e6);
        background-image: -webkit-linear-gradient(top,#f4f4f4,#e6e6e6);
        background-image: -o-linear-gradient(top,#f4f4f4,#e6e6e6);
        background-image: linear-gradient(top,#f4f4f4,#e6e6e6);
        box-shadow: 0 1px 2px rgba(64,64,64,.1);
        text-transform: none !important;
    }

    #wpsl-search-btn, #wpsl-search-wrap #wpsl-radius, #wpsl-search-wrap #wpsl-results, #wpsl-search-wrap .wpsl-input input, #wpsl-search-wrap .wpsl-input label {
        display: table-cell;
    }

    .button-stroke input[type="submit"] {
        border-color: #FFFFFF;
        background-color: #A0CE4E !important;
        padding-left: 25px !important;
        padding-right: 25px !important;
        width: 100% !important;
        height: 50px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
        color: #ffffff !important;
    }

    .button-stroke a.button:not(.action_button), .button-stroke:not(.header-plain) a.button.action_button, .button-stroke a.tp-button, .button-stroke button, .button-stroke input[type="submit"], .button-stroke input[type="reset"], .button-stroke input[type="button"] {
        border-width: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }

        .button-stroke a.button.button_theme:not(.action_button), .button-stroke a.button.button_theme:not(.action_button), .button-stroke a.button.button_theme .button_icon i, .button-stroke a.tp-button.button_theme, .button-stroke button, .button-stroke input[type="submit"], .button-stroke input[type="reset"] {
            border-color: #1d1d1c;
            background-color: #A0CE4E !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
            width: 100% !important;
            height: 50px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 300;
        }

        .button-stroke a.button.button_theme:not(.action_button), .button-stroke a.button.button_theme:not(.action_button), .button-stroke a.button.button_theme .button_icon i, .button-stroke a.tp-button.button_theme, .button-stroke button, .button-stroke input[type="submit"], .button-stroke input[type="reset"], .button-stroke input[type="button"] {
            border-color: #1d1d1c;
            color: #1d1d1c !important;
        }

    .wpsl-search input:focus {
        background-color: #f5faed !important;
    }

    #wpsl-search-btn, #wpsl-search-wrap div {
        margin-right: 10px;
        float: left;
    }

    #map-container {
        padding: 6px;
        border-width: 1px;
        border-style: solid;
        border-color: #ccc #ccc #999 #ccc;
        -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
        -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
        box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
        width: 600px;
    }

    #map {
        width: 512px;
        height: 400px;
    }
</style>
<!-- SUB MENU -->
<div class="section  no-margin sub_menu_container  column-margin-0px"
     style="padding-top:0px; padding-bottom:0px; background-color:">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one-fourth column_visual breadcrumbs-name">
                <h4 class="tX20499"
                    style="text-align: left;">
                    FIND A ZIPATO DEALER
                </h4>
            </div>
            <div class="column three-fourth column_column breadcrumbs-nav">
                <div class="column_attr align_right" style="">
                    <div class="menu-what-is-zipato-container">
                        <ul id="submenu_top" class="submenu_top">
                            <li id="menu-item-15641"
                                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15639 current_page_item menu-item-15641">
                                <a href="/Partner/IndexEn">Overview</a>
                            </li>
                            <li id="menu-item-15642"
                                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15639 current_page_item menu-item-15641">
                                <a href="/Partner/ListEn">Dealer Locator</a>
                            </li>
                            <li id="menu-item-77"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77">
                                <a href="/Partner/RegEn">Register</a>
                            </li>
                            <li id="menu-item-93"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93">
                                <a href="/Partner/LogEn">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" style="padding-top:60px; padding-bottom:0px; background-color:#f5f5f5">
    <div class="section-divider triangle down">
    </div>
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one column_visual ">
                <h1 class="tX02711 h1-top-page" style="text-align: center;">WHERE TO BUY?</h1>
                @if (ViewBag.pname != "")
                {
                    <p><b>FIND A ZIPATO DEALER</b></p>
                    <p>@ViewBag.pname</p>
                    <p><img src="@ViewBag.pphoto" style="width:220px;height:120px;"></p>
                }
            </div>
        </div>
    </div>
</div>

<div class="section   storeLocatorBox " style="padding-top:30px; padding-bottom:0px; background-color:#ffffff">
    <div class="section-divider triangle down"></div><div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one column_column ">
                <div class="column_attr" style="">
                    <style>
                        #wpsl-stores .wpsl-store-thumb {
                            height: 45px !important;
                            width: 45px !important;
                        }

                        #wpsl-stores, #wpsl-direction-details, #wpsl-gmap {
                            height: 400px !important;
                        }

                            #wpsl-gmap .wpsl-info-window {
                                max-width: 225px !important;
                            }

                        .wpsl-input label, #wpsl-radius label, #wpsl-category label {
                            width: 195px;
                        }

                        #wpsl-search-input {
                            width: 179px;
                        }
                    </style>
                    <div id="wpsl-wrap" style="background: #f4f3f3;">
                        <div class="wpsl-search wpsl-clearfix  wpsl-geolocation-run" style="background: #f4f3f3;">
                            <div id="wpsl-search-wrap" style="background: #f4f3f3;">
                                <form autocomplete="off">
                                    <div class="wpsl-input">
                                        <div><label for="wpsl-search-input">Your location</label></div>
                                        <input id="wpsl-search-input" value="@ViewBag.address" name="wpsl-search-input" placeholder="" aria-required="true" class="" type="text">
                                        <input name="lon" id="lon" type="hidden" value="@ViewBag.lon">
                                        <input name="lat" id="lat" type="hidden" value="@ViewBag.lat">
                                    </div>
                                    <div class="wpsl-select-wrap">
                                        <div id="wpsl-radius">
                                            <label for="wpsl-radius-dropdown">Search radius</label>
                                            <div class="wpsl-dropdown">
                                                <select id="wpsl-radius-dropdown" class="" name="wpsl-radius">
                                                    @*<option value="1000" selected>Tìm đại lý trong bán kính</option>*@
                                                    <option value="10">10 km</option>
                                                    <option value="25">25 km</option>
                                                    <option value="50">50 km</option>
                                                    <option value="100">100 km</option>
                                                    <option value="200">200 km</option>
                                                    <option value="500">500 km</option>
                                                    <option value="1000">1000 km</option>
                                                    <option value="5000">5000 km</option>
                                                </select>@*<span data-value="25000" class="wpsl-selected-item">50 km</span><div style="height: 0px;"><ul><li data-value="10">10 km</li><li data-value="25">25 km</li><li data-value="50" class="wpsl-selected-dropdown">50 km</li><li data-value="100">100 km</li><li data-value="200">200 km</li><li data-value="500">500 km</li><li data-value="1000">1000 km</li><li data-value="5000">5000 km</li></ul>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpsl-search-btn-wrap" style="float:left;display:block;position:relative;"><input id="wpsl-search-btn" value="Search" type="button" onclick="search();"></div>
                            </div>
                        </div>

                        </form>
                    </div>
                </div>
                @*<div id="wpsl-gmap" class="wpsl-gmap-canvas" style="position: relative; overflow: hidden;">

                    </div>*@
                <div id="wpsl-result-list" class="col-md-6">
                    <div id="wpsl-stores">
                        <ul>
                            @if (Model != null)
                            {
                                if (Model.Count > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        locations += ",{lat: " + item.lat + ", lng: " + item.lon + "}";
                                        <li data-store-id="25644" style="border-bottom:1px solid #d2d2d2;">
                                            <div class="wpsl-store-location">
                                                <p>
                                                    <strong>@item.full_name</strong>
                                                    <span class="wpsl-street">, Địa chỉ: @item.address</span>
                                                    <span>, Phone: @item.phone</span>
                                                    <span class="wpsl-country">, Email: @item.email</span>
                                                    <span class="wpsl-country">, @String.Format("{0:n2}", @item.D) km</span>
                                                </p>

                                            </div>
                                            <div class="wpsl-direction-wrap">
                                                <a class="wpsl-directions" href="tel:@item.phone">Call <span class="btn-info btn">@item.phone</span></a>
                                            </div>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                    <div id="wpsl-direction-details" style="display: none;">
                        <ul></ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>



<div id="map-canvas" style="display: none;">
    Bản đồ
</div>

<script>

    @*initMap();
    function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: {lat: 105.8194541, lng: 21.0227431}
        });

         Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

         Add some markers to the map.
         Note: The code uses the JavaScript Array.prototype.map() method to
         create an array of markers based on a given "locations" array.
         The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
                position: location,
                label: labels[i % labels.length]
            });
        });

         Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: '/Images/m1.png'});
        alert("ok4");
    }
    var locations = [@locations];*@
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: {lat: 21.0227431, lng: 105.8194541}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
                position: location,
                label: labels[i % labels.length]
            });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
    }
    var locations = [@locations];


</script>

<script src="/Scripts/markerclusterer.js">
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLPSKQ4QV4xGiQjnZDUecx-UEr3D0QePY&libraries=places&region=vn&language=vi&callback=initMap" type="text/javascript"></script>
<script src="/Scripts/jquery.geocomplete.min.js"></script>
<script>
    var options = {
        map: "#map-canvas"
    };
    $("#wpsl-search-input").geocomplete(options)
  .bind("geocode:result", function (event, result) {
      $("#lat").val(result.geometry.location.lat());
      $("#lon").val(result.geometry.location.lng());
      //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
  })
  .bind("geocode:error", function (event, status) {
      $.log("ERROR: " + status);
  })
  .bind("geocode:multiple", function (event, results) {
      $.log("Multiple: " + results.length + " results found");
  });

    function search() {
        var d = $("#wpsl-radius-dropdown").val();
        var address = $("#wpsl-search-input").val();
        var lon = $("#lon").val();
        var lat = $("#lat").val();
        var product_id=@ViewBag.product_id;
        var url = "/Partner/List?lon=" + lon + "&lat=" + lat + "&d=" + d + "&address=" + address+ "&product_id=" + product_id;
        window.location.href = url;
    }
    document.getElementById("wpsl-radius-dropdown").value=@ViewBag.d;
</script>